
*,
*::before,
*::after
 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgb(244,245,249);  
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 1rem;
}
.box {
  border: 2px solid #d6bcfa;
  height: 500px;
  border-radius: 10px;
}
h1,
h2 {
  text-align: center;
}
header{
  background-color: rgb(64,117,213);
  padding: 1.5rem;
}
h1{
  color: white;
}
img{
  border-radius: 50%;
  border: 3px solid rgb(117, 160, 133);
}
.btn{
  text-decoration: none;
  display: block;
  font-size: 1rem;
  background-color: rgb(231,237,253);
  text-align: center;
  width: 100%;
  padding: 0.5rem 2rem;
  margin: 0 auto;
}
.divClass{
  display: flex;
  align-items: center;
}
h5{
  margin-left: 0.5rem;
}
.list{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.liClass{
  width: 30%;
  background-color: rgb(255, 255, 255);
  margin: 1rem;
  box-shadow: 1px 20px 20px rgb(148, 139, 139);
  border-radius: 0.5rem;
  list-style-type: none;
  padding: 2rem;
}
p{
  text-align: center;
  margin: 1rem 0rem;
}